.friendItem {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 20px 10px;
  margin: 5px auto;
}

.friendName {
  font-size: 24px;
}

.isOnline {
  color: green;
}

.isOffline {
  color: red;
}
